<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>{{ cand_data['name'] }}</title>
</head>
<body>
<div class="single__content_wrapper">
    <div class="single__content">
        {% if cand_data %}
            <h1>{{cand_data['name']}}</h1>
            <p>Позиция кандидата: {{cand_data['position']}}</p>
            <img src="{{cand_data['picture']}}" width=200/>
            <p>Навыки кандидата: {{cand_data['skills']}}</p>
        {% else %}
            <h1>Нет такого кандидата</h1>
        {% endif %}
        <center><a href="/">На главную</a></center>
    </div>
</div>
</body>
</html>